.wrapper {
    width: 420px;
    background-color:#4770e1;
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 90%;
    height: 50%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 10px 25px 10px 10px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
}

.wrapper button {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
}

.wrapper .submit-container {
    display: flex;
    width: 100%;
    gap: 30px;
    margin: auto;
}

.wrapper .submit {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 500px;
    height: 59px;
    font-size: 16px;
}

.wrapper .create-account {
    padding-left: 62px;
    margin-top: 27px;
    color: #797979;
    font-size: 16px;
}

.wrapper .create-account span {
    color: #0340e7;
    cursor: pointer;
}

.wrapper .error {
    color: #490000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.wrapper .success-message {
    color: #214900;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}